@import 'base/variables';

// Mobile View
@media (max-width: 768px) {
  .grid-row {
    flex-wrap: wrap;
    gap: 0.5rem;
    padding: 1rem;
  }
  
  .grid-cell {
    width: 100%;
    padding: 0.25rem 0;
  }
}
